$greyHead: #777;
$greyFoot: #444;

$colorAmarillo: yellow;
$colorRojo: red;
$colorVerde: green;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddines($top, $right, $bottom, $left){
	padding: $top $right $bottom $left;
}

.clasePruebaMixin{
	@include paddines(10px, 15px, 10px, 15px)
}

.jumbotron{
	background-color: $greyHead;
	color: white;
	padding: 2rem 1rem !important;
	border-radius: 0;

	@include margenes(50px, 0px);
}

footer{
	padding: 10px 10px 5px 10px;
	margin-top: 10px;
	background-color: $greyFoot;
	color: white;
}

footer a{
	color: black;
}

.card-hotel{
	flex: 1 250px;
	/*padding: 2px 0px 2px 0px;*/
	margin: 15px 10px;
	/*height: 100%;*/
	/*border: 1px solid #ddd;*/
}

.cardResume{
	flex: 1 250px;
	/*padding: 2px 0px 2px 0px;*/
	margin: 10px 0;
	/*height: 100%;*/
	/*border: 1px solid #ddd;*/
}
.cardResume{
	border: unset !important;
}

/*.cardResume > .card-header{
	background-color: #d5d5d5;
}*/

.cardResume .card-body{
	border: 1px solid #ccc;
} 

.btn-reserva{
	width: 100%;
	border-radius: 0;
}

/*.footer-address-icon {
	margin-right: 15px;

	}*/

	span.oi{
		padding-right: 10px;
	}

	.footer-img-icon{
		margin-right: 15px;
	}

	.alertTop{
		margin-top: 60px;
		margin-bottom: -45px;
	}

	.tab-content{
		padding: 25px;
	}

	.panel-body{
		padding: 15px 20px;
	}